<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="./assets/css/foundation.min.css">
  <link rel="stylesheet" href="./assets/vendor/fontawesome-free-5.15.1-web/css/all.min.css">
  <link rel="stylesheet" href="./assets/css/static-app.css">
</head>
<body>
  <h1>Servers list</h1>
  {{ range $.Site.Data.servers }}
  <h2 id="{{anchorize .name}}"> {{ .name }} </h2>
  <p>
    {{ .description }}
  </p>
  <h3>Services</h3>
  <ul>
  {{ range $service, $url := .services }}
  <li> <a href="{{ $url }}">{{ $service }}</a></li>
  {{ end }}
  </ul>
  {{ end }}
</body>
</html>

  
