
{{ range $.Site.Data.servers }}
<div class="server-single cell card">
  <div class="card-divider">
    <h6>
	    <a href="{{ .url }}">{{ .name }}</a>
    </h6>
  </div>
  <div class="card-image">
    {{ $serverLogo := .serverlogo }}
    {{ $defaultLogo := "./assets/img/antifa-tech.svg" }}
    {{ if isset .server $serverLogo }} 
      <img src="{{ $serverLogo }}" class="small">
    {{ else }} 
      <img src="{{ $defaultLogo }}" class="small">
    {{ end }}
  </div>
  <div class="card-section">
    <p>
      {{ .description | safeHTML | truncate 150 }}
    </p>
    <p>
      <!--a href="servers#{{anchorize .name}}" class="button">visit server</a-->
      <a href="{{ .url }}" class="button">visit server</a>
    </p>
  </div>
</div>
{{ end }}
