{{ range $.Site.Data.services }}

<div class="service-single cell card">
  <div class="card-divider">
    <div class="card-image">
      <img src="" class="small">
    </div>
    <h6>
      <!--a href=""-->
      {{.name}} <i class="{{ .icon }}"></i>
      <!--/a-->
    </h6>
  </div>
  <div class="card-section">
    <p>
      {{ .description }}
    </p>
    <ul>
      {{ $serviceName := .name }}
      {{ range $.Site.Data.servers }}
   	  {{ if isset .services $serviceName }}
          <li>
            <a href=" {{ echoParam .services $serviceName }}" class="">{{ .name }}</a>
	  </li>
 	  {{ end }}
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}
