<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ .Title }}</title>
  <link rel="stylesheet" href="./assets/css/foundation.min.css">
  <link rel="stylesheet" href="./assets/vendor/fontawesome-free-5.15.1-web/css/all.min.css">
  <link rel="stylesheet" href="./assets/css/static-app.css">
</head>
<body class="">
  <a name="top"></a>
  <header>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell small-12">
          <div class="primary flex-child-shrink text-center">
            <h1 class="site-name">
              <a href="https://antifa.tech" title="" class="brand-logo">antifa.tech</a>
            </h1>
            <dl class="claim">
										<dt>
              Antifa Tech is just a compilation of:
										</dt>
                <dd>
                  collectives, servers, individualities providing online freedom for you.
       		      </dd>
       		      <dd>
                 online tools provided to you by collectives, servers, individualities.
       		      </dd>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </header>
  <main class="">
    <section class="service-all">
      <div class="grid-container">
        <h2 class="flex-child-auto text-center">Tools</h2>
        <content class="grid-x  grid-padding-x grid-margin-x small-up-2 medium-up-3">
	  {{ partial "service-card.html" .  }}
        </content>
      </div>
    </section>
    <section class="servers-all">
      <div class="grid-container">
        <h2 class="flex-child-auto text-center">Servers</h2>
        <content class="grid-x  grid-padding-x grid-margin-x small-up-2 medium-up-3">	 
	     {{ partial "server-card.html" . }}
        </content>
      </div>
    </section>
    <aside class="grid-container">
      <div class="grid-x  grid-padding-x grid-margin-x small-up-12">
        <p class="cell text-center">
          - if you find any errors or need to add something new please contact <a href="https://0xacab.org/antifatech/web/-/issues">the git repo</a> -
        </p>
      </div>
    </aside>
  </main>
  <footer class="flex-child-shrink text-center ">
    <p>
      another <a href="https://antifa.tech" title="antifa web site"><span class="brand-logo small icon ">antifa</span></a> website.
    </p>
  </footer>
</body>
</html>
